html { 
 font-size: 62.5%; 
} 

@media(max-width: 75em) { 
 html {   
  font-size: 60%; 
 } 
} 

@media(max-width: 61.25em) { 
 html {   
  font-size: 58%; 
 } 
} 

@media(max-width: 28.75em) { 
 html {   
  font-size: 55%; 
 } 
} 

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 0.625rem 0 0.625rem 0.625rem;
 max-width: 1100px;
 min-width: 100%;
}

h1 {
 padding: 0.625rem;
 font-size: 6rem;
 font-weight: bold;
 color: #000;
}

table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
 border: 3px solid #333;
 padding: 0.625rem;
 text-align: left;
}

tr:nth-child(even) {
 background: #dddddd;
}

div {
 width: 70%;
 border: solid burlywood;
 text-align: center;
 padding: 0.625rem;
 margin-top: 0.625rem;
}

#body {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: beige;
 padding: 0.625rem 0 0.625rem 0.625rem;
 max-width: 1100px;
 min-width: 100%;
}

#submit {
 font-size: 2rem;
 background: #333;
 border: solid burlywood 3px;
 width: 60%;
 color: white;
 text-align: center;
 padding: 1rem 0;
 margin: 4rem;
 cursor: pointer;
}
